<h2 class="page-header">Expense Dashboard</h2>
<div class="col-xl-10 mx-3 p-2 m-10"><app-download></app-download></div>
<p>Welcome to your Expense List</p>


<div class="col-md-10 offset-md-1 expensesDiv justify-content-center align-items-center">
    <table class="table table-bordered" id= "expense">
        <thead class="thead-light">
            <th>Description</th>
            <th>Expense Amount ($)</th>
            <th>Date</th>
            <th>Expense Category</th>
            <th style="text-align: center;">
                <button class="btn btn-sm btn-success text-white" matTooltip="Add New Expense" (click) ="add(null)" >
                    <mat-icon aria-hidden="false" aria-label="Example add icon" >add</mat-icon>Add Expense
                </button>
            </th>
        </thead>
        <tbody  *ngFor="let expense of expenses; let i = index;">
            <tr>
                <td>{{expense.description}}</td>
                <td>{{expense.amount}}</td>
                <td>{{expense.Date | date:'yyyy-MM-dd'}}</td>
                <td>{{expense.category}}</td>
                <td style="text-align: center;">
                    <button class="btn btn-sm btn-info text-white actionButton mr-2" matTooltip="Edit Expense" (click) ="add(i)" >
                        <mat-icon aria-hidden="false" aria-label="Example Edit icon" >edit</mat-icon> Edit
                    </button>

                    <button class="btn btn-sm btn-danger text-white actionButton" matTooltip="Delete Expense" (click)="delete(expense)">
                        <mat-icon aria-hidden="false" aria-label="Example Delete icon" >delete</mat-icon><span class="sm-1"></span> Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
