@import "~bootswatch/dist/sandstone/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sandstone/bootswatch";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.form-group {
    mat-form-field {
        width: calc(100% - 2.5rem); 
    }
    .alert {
        width: calc(100% - 2.5rem); 
    }
}

.mat-icon {
    font-size: 21px;
    vertical-align: middle;
  }



//style for charts

//container for barchart
// .container{
//     text-align: center;
// }

//cards margin
mat-card{
    margin: 15px;
}

//pie chart 
.piechart{
    margin-left: 30px;
    height: 350px;
    width: 46%;
}
//layout for doughnuchart
.doughnutchart{
    width: 46%;
    height: 350px;
    text-align: center;
}
//layout for pie chart inside 
.pie1{
    size: initial;
    text-align: center;
    margin: 0 auto;
}
//layout for doughnut chart inside 
.doughnut1{
    size: initial;
    text-align: center;
    margin: 0 auto;
}
// summary card size
.summary{
    width: 1110px;
    margin-left: auto;
}