<body>
    <div class="barchart">
        <mat-card class="barchart">
            <mat-card-content>
                <div>
                    <app-barchart></app-barchart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row">
        <mat-card class="piechart">
            <mat-card-content>
                <div>
                    <app-piechart></app-piechart>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="doughnutchart">
            <mat-card-content>
                <div>
                    <app-doughnutchart></app-doughnutchart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</body>