<div class="jumbotron text-center">
    <h1 class="display-3">My Expense Tracker App</h1>
    <p class="lead">Welcome to your personal financial helper!</p>
    <hr class="my-4">
    <!-- Add router links -->
    <div>
        <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
        &nbsp;
        <a [routerLink]="['/login']" class="btn btn-secondary">Login</a> 
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Log Expense/Income Item</h3>
        <p class="lead">
            Help you track of your daily expense and income items, easy to edit, delete/add as you wish
        </p>
    </div>
    <div class="col-md-4">
        <h3>View Expense/Income Charts</h3>
        <p class="lead">
            Your expense and income charts can help you better track spending behaviors.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Convert the Currency</h3>
        <p class="lead">
            A quick tool help you convert into your desired currency.
        </p>
    </div>
</div>


